<% Object.keys(entity.entity).forEach(function(field){ if(!entity.entity[field].referent) { -%>
<ion-col>{{<%= entity.singularUncapitalize %>.<%= field %>}}</ion-col>
<%} }) -%>
<% if(relations) { -%>
<% relations.forEach(function (relation) { -%>
<% Object.keys(entity.entity).forEach(function(field){ if(entity.entity[field].render) { -%>
<ion-col *ngIf="<%= relation.singularUncapitalize %>">
    {{<%= relation.singularUncapitalize %>.<%= entity.entity[field].render %> || "No <%= relation.singularCapitalize %>"}}
</ion-col>
<%} }) -%>
<ion-col *ngIf="!<%= relation.singularUncapitalize %>"></ion-col>
<% }) -%>
<% } -%>
<ion-col> 
    <div <%= entity.singularUncapitalize %>-edit-ui [<%= entity.singularUncapitalize %>]="<%= entity.singularUncapitalize %>"
        <% if(relations) { -%> <% relations.forEach(function (relation) { -%>
        [<%= relation.pluralizeUncapitalize %>]="<%= relation.pluralizeUncapitalize %>" <% }) -%> <% } -%>
        (onEditHandler)="onEdit<%= entity.capitalize %>($event)">
    </div>
</ion-col>
<ion-col>
    <div <%= entity.singularUncapitalize %>-delete-ui
        [<%= entity.singularUncapitalize %>]="<%= entity.singularUncapitalize %>"
        (onDeleteHandler)="onDelete<%= entity.capitalize %>($event)">
    </div>
</ion-col>