<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

  <div class="row container">
    <div class="col-md-4">
      {{ title }}! <br />
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

      <ul>
        <li>
          <a class="default" routerLink="/login" routerLinkActive="active">Tenho cadastro</a>
        </li>
      </ul>
    </div>
  </div>

</footer>